//---------------//
//    IMPORTS    //
//---------------// 

@import 'mixins';

//----------------//
//    INCLUDES    //
//----------------//

@include font-face('Roboto', 'fonts/Roboto-Thin',100, null,'ttf');
@include font-face('Roboto', 'fonts/Roboto-Light',200, null,'ttf');
@include font-face('Roboto', 'fonts/Roboto-Regular',500, null,'ttf');
@include font-face('Roboto', 'fonts/Roboto-Medium',600, null,'ttf');
@include font-face('Roboto', 'fonts/Roboto-Bold',700, null,'ttf');
@include font-face('Roboto', 'fonts/Roboto-Black',900, null,'ttf');


//---------------//
//   VARIAVEIS   //
//---------------//
	
$fundo_container: #e5e6e6;
$border-paper	: #E4E4E4;
$primary-color	: #2196F3;
$green 			: #2CD683;
$yellow 		: #FDCF28;
$red 			: #D62C2C;
$secondary-color: #1976D2;
$button-color	: #FF4081;
$light_gray    	: #DEDEDE;


//---------------//
//    MEDIAS     //
//---------------//

$small_screen: 991px;
$tablet: 767px;
$phone: 380px;

body{
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	background-color: $fundo_container;
	position: relative;
	min-height: 100vh;
	font-family: 'Roboto';
}
header{
	background-color: $primary-color;
	height: 170px;
	margin-bottom: 50px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.2);
	.admin{
		background-color: $secondary-color;
		height: 50px;
		width: 100%;
		.avatar-admin{
		    border-radius: 100%;
		    width: 40px;
		    top: -5px;
		    left: 10px;
		    position: relative;
		    margin-right: 20px;
		}
		p{
			padding: 10px;
			color: white;
		}
		a{
			color: white;
			&:hover{
				text-decoration: underline;
			}
		}
		.user-info {
		    background-color: #fff;
		    position: absolute;
		    right: 20px;
		    top: 60px;
		    z-index: 10000;
		    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.17);
		    visibility: hidden;
		    opacity: 0;
		    min-width: 300px;
		    -webkit-transition: all ease .3s;
		    -moz-transition: all ease .3s;
		    transition: all ease .3s;
		    &:before{
		    	content: '';
		    	display: block;
		    	border-right: 10px solid transparent;
		    	border-left: 10px solid transparent;
		    	border-bottom: 10px solid white;
		    	position:absolute;
			    top: -10px;
			    right: 10px;
		    }
		    .info-content{
		    	padding:15px;
		    	height: 130px;
		    }
		    .info-footer{
		    	padding:5px;
		    	background-color:#f1f1f1;
		    	border-top: 1px solid #E2E2E2;
		    	a{
		    	    position: relative;
    				left: 85%;
    				color:rgba(0,0,0,0.47);
		    	}
		    }
		    .avatar{
		    	float: left;
		    	width: 100px;
		    }
		    .info {
		    	h3{
		    		float: right;
		    		color: #333;
		    		font-size: 1.7em;
		    		margin: 0;
		    	}
		    	p{
		    		color: #6B6B6B;
		    		float: right;
		    		padding: 0px;
		    		font-size: 1em;
		    	}
		    	.editar-perfil-btn{
			    	color: #444;
				    display: block;
				    clear: both;
				    margin-top: -25px;
				    a{
				    	color: #fff;
				    	background-color:$primary-color;
				    	padding:10px;

				    }
			    }
		    }
		}
		.show-info{
			opacity: 1;
			visibility: visible;
		    -webkit-transition: all ease .3s;
		    -moz-transition: all ease .3s;
		    transition: all ease .3s;			
		}
	}
 	.menu{
		width: 50px;
		height: 50px;
		border-radius:100%;
		background-color: $button-color;
		border: 0px solid transparent;
		position: fixed;
		left: 90%;
		z-index: 100;
		top: 140px;
		z-index: 1000;
		outline: none;
		box-shadow: 0 2px 3px rgba(0,0,0,0.27);
		-webkit-transition: all .4s cubic-bezier(.37,.15,.32,.94);
		-moz-transition: all .4s cubic-bezier(.37,.15,.32,.94);
		-o-transition: all .4s cubic-bezier(.37,.15,.32,.94);
		transition: all .4s cubic-bezier(.37,.15,.32,.94);
		span{
			background-color: white;
			width: 20px;
			height: 2px;
			display: block;
			margin: auto;
		}
		#icon-bar1{
			top: 0px;
    		position: relative;
		}
		#icon-bar2{
			opacity: 1;
		}
		#icon-bar3{
			position: relative;
			top: 0px;
			transition: transform ease .2s;
		}
		&.menu-open{
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			transform: rotate(180deg);
			-webkit-transition: all .4s cubic-bezier(.37,.15,.32,.94);
			-moz-transition: all .4s cubic-bezier(.37,.15,.32,.94);
			-o-transition: all .4s cubic-bezier(.37,.15,.32,.94);
			transition: all .4s cubic-bezier(.37,.15,.32,.94);
		#icon-bar1{
			top: 7px;
    		position: relative;
		}
		#icon-bar2{
			opacity: 0;
		}
		#icon-bar3{
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			transform: rotate(90deg);
			position: relative;
			top: -5px;
			transition: transform ease .2s;
		}
		}
	}
	.user-header{
		margin-top: 10px;
		.avatar{
			border-radius: 100%;
		}
		.header-name{
			display: inline-block;
			color: white;
			font-size: 1.4em;
			margin: 10px;
		}
		h1{
			padding-top: 30px;
			margin-left: 10%;
			transition: all ease .2s;
			a{
				color: white;
				text-decoration: none;
				&:hover{
					text-decoration: none;
				}
			}

			&.compressed{
				margin-left: 5%;
			}
		}
	}
	nav{
	    position: absolute;
	    height: calc(100% - 50px);
	    width: 13%;
	    display: block;
	    background-color: white;
	    z-index: 100;
	    top: 50px;
	    box-shadow: 2px 0 2px rgba(0,0,0,0.16);
	    left: 0px;
	    -webkit-transition: all ease .2s;
	    -moz-transition: all ease .2s;
	    transition: all ease .2s;
	    &.navbar-default{
		    border: none;
	    }
	    &.compressed{
	    	width: 80px;
	    	-webkit-transition: all ease-out .2s;
	    	-moz-transition: all ease-out .2s;
	    	transition: all ease-out .2s;
    		.menu-ul{
    			li{
		   			opacity: 1;
		   			text-align: center;
		   			transition: all ease-out .2s;
		   			a{
		   				i{
		   					margin: 0;
		   					font-size: 28px;
		   				}
		   				font-size: 12px;
		   			}
		    	}
	    	}
	    }
	    &.nav-fixed{
	    	top: 0;
	    	position: fixed;
	    	height: 100%;
	    	-webkit-transition: all ease .0s;
		    -moz-transition: all ease .0s;
		    transition: all ease .0s;
	    }
	    &.transition{
	    	-webkit-transition: all ease .2s;
		    -moz-transition: all ease .2s;
		    transition: all ease .2s;
	    }
	    &.no-transition{
	    	-webkit-transition: all ease .0s;
		    -moz-transition: all ease .0s;
		    transition: all ease .0s;
	    }
	    .navbar{
	    	border: none;
	    }
	    .menu-ul{
	    	margin-top: 0px;
	    	padding: 0;
	    	li{
	    		line-height: 30px;
	    		padding: 10px;
    		    border-bottom: 1px solid $light_gray;
	    		text-align:left;
	    		transition: all ease-in .2s;
	    		.perfil-item{
	    			color: #424242;
	    			display: block;
					font-size: 16px;
					text-align: left;
					transition: all ease .2s;
	    			i{
	    				margin-left: 5%;
	    				margin-right: 10%;
	    				width: 20px;
	    				transition: all ease .2s;
	    			}
	    			&:hover{
					  color: #ec407a;
					  text-decoration: none;
					}
	    		}
	    		a{
	    			opacity: .54;
	    			color: #000;
    				width: 100%;
    				display: block;
    				transition: all ease-in .2s;
	    		}
	    		i{
	    			margin-right: 20px;
	    			transition: all ease .2s;
	    		}
	    		&.active{
	    			background-color: $primary-color;
	    			a{
	    				color: white;
	    				opacity: 1;
	    			}
	    			&:hover{
	    				color: white;
	    				a{
	    					color: white;
	    					opacity: 1;
	    				}
	    			}
	    		}
    			&:hover{
    				a{
	    				opacity: .74;
	    				text-decoration: none;
	    				color: $secondary-color;
    				}
    			}
	    	}
	    }
	}
}

section{
	.login{
		margin-top: 15vh;
	}
	h1{
		color: $secondary-color;
		font-weight: 200;
		margin-left: 5px;
		transition: all ease .2s;
		span{
			font-size: 20px;
			a{
				text-decoration: none;
				color: $secondary-color;
				&:hover{
					text-decoration: none;
					color: $secondary-color;
				}
			}
			&.btn-aluguel{
				position: relative;
			    right: 10px;
			    color: white;
			    padding: 8px 12px;
			    border-radius: 4px;
			    text-transform: uppercase;
			    font-size: 18px;
			    cursor: pointer;
			    transition: all ease .3s;
			    &.btn-pago{
			    	background-color: $green;
			    }
			    &.btn-pendente{
			    	background-color: $yellow;
			    }
			    &.btn-atrasado{
			    	background-color: $red;
			    }

			}
		}
	}
	.add{
		position: relative;
	    right: 10px;
	    display: inline-block;
	}
	.container-responsive{
		position: relative;
		max-width: 100%;
	}
	.dashboard-column{
		padding: 10px;
		.title-icon{
		    margin-bottom: 20px;
			padding-left: 5px;
			h1{
				display: inline-block;
			}
			.ico{
				display: inline-block;
			    padding: 5px;
			    vertical-align: bottom;
			    i{
			    	color: $primary-color;
			    }
			}
		}
	}
	.panel{
		padding: 10px;
		border: 0;
	    background-color: #fff;
	    display: block;
	    width: 99%;
	    border-radius: 0;
	    margin: auto;
	    border-color: $border-paper;
	    margin-bottom: 20px;
	    height: 100%;
	    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	    table{
	    	tbody{
	    		width: 100%;
	    	}
	    	tr:last-child{
	    		border-bottom:1px solid  #e4e4e4;
	    	}
	    	th{
	    		border-top: none;
	    	}
	    	td{
	    		border-color: #e4e4e4;
	    		padding: 13px 8px;
	    		&.pago{
    			    color: #3ED43E;
	    		}
	    		&.pendente{
	    			color: #D81919;
	    		}
	    	}
	    }
	    &.panel-icon{
			padding: 0;
			.icon{
			    width: 30%;
			    background: $primary-color;
			    color: white;
			    text-align: center;
			    padding: 20px;
			    display: inline-block;
			    font-size: 36px;
			    &.icon1{
			    	background-color: #DA2C5C;
			    }		
			    &.icon2{
			    	background-color: #9C34D2;
			    }				
			}
			.info{
				width: 65%;
			    display: inline-block;
			    text-align: center;
			    font-size: 18px;
			    font-weight: 200;
			}
		}
	}
	#map{
		min-height: 400px;
	}

	.controls {
	  margin-top: 10px;
	  border: 1px solid transparent;
	  border-radius: 2px 0 0 2px;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  height: 32px;
	  outline: none;
	  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	}

	#pac-input {
	  background-color: #fff;
	  font-family: Roboto;
	  font-size: 15px;
	  font-weight: 300;
	  margin-left: 12px;
	  padding: 0 11px 0 13px;
	  text-overflow: ellipsis;
	  width: 300px;
	}

	.conteudo{
		height: 130px;
	}

	#pac-input:focus {
	  border-color: #4d90fe;
	}

	.pac-container {
	  font-family: Roboto;
	}

	#type-selector {
	  color: #fff;
	  background-color: #4d90fe;
	  padding: 5px 11px 0px 11px;
	}

	#type-selector label {
	  font-family: Roboto;
	  font-size: 13px;
	  font-weight: 300;
	}	
	form{
		.material-input{
			max-height: 200px;
			min-height: 80px;
			span{
				width: 100%;
			    height: 2px;
			    width: 0%;
			    display: block;
			    background: #09f;
			    position: relative;
			    top: -2px;
			    -webkit-transition: all ease .3s;
			    -moz-transition: all ease .3s;
			    transition: all ease .3s;			    
			}
			.input-focus{
				width: 100%;
				background-color: #09f;
				-webkit-transition: all ease .3s;
				-moz-transition: all ease .3s;
				transition: all ease .3s;
			}
		}
		.form-control{
			border:1px solid transparent;
			box-shadow: none;
			background: transparent;
			border-bottom: 2px solid #eee;
			border-radius:0px;		
			outline: none;
			&:focus{
				border: 1px solid transparent;
				border-bottom: 2px solid #eee;
				box-shadow: none;
				outline: none;
			}
		}
		.float-label{
			color:rgba(0, 0, 0, 0.32);
			position:relative;
			top: 40px;
			height: 35px;
			font-size: 1em;
			-webkit-transition: all ease .3s;
			-moz-transition: all ease .3s;
			transition: all ease .3s;	
			&.label-active{
				color: #09f;
				top: 0px;
				font-size: 0.8em;
				line-height: 28px;
				-webkit-transition: all ease .3s;
				-moz-transition: all ease .3s;
				transition: all ease .3s;	
				svg{
					path{
						fill: #09f;
						transition: all ease .3s;	
					}
					circle{
						fill: #09f;
						transition: all ease .3s;	
					}
				}			
			}			
		}
		.btn{
		    margin-top: 30px;
		    margin-bottom: 20px;
		    position: relative;
		    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
		    color: white;
		    text-transform: uppercase;
		    background: $primary-color;
		    transition: all ease .2s;
		    &:hover{
		    	color: white;
	    	    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
		    }			
		    &:focus{
		    	outline: none;
		    	color: white;
		    }
		    &.btn-danger{
		    	background: $red;
		    }
		}
		&.busca{
		    margin-bottom: 20px;
		}
	}	
}
.btn{
	&.active{
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
}
.btn-compra{
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 10px;
	color: $primary-color;
	&.active{
		background: $primary-color;
		color: white;
	}
}
.btn-aluguel{
	text-transform: uppercase;
	margin: 10px 10px 20px 10px;
	color: $button-color;
	&.active{
		background: $button-color;
		color: white;
	}
}

.desconto{
	display: none;
	margin-bottom: 20px;
	&.active{
		display: block;
	}
}

.btn-submit{
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
    color: white;
    text-transform: uppercase;
    background: $primary-color;
    transition: all ease .2s;
    &:hover{
    	color: white;
	    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    }			
    &:focus{
    	outline: none;
    	color: white;
    }
}
.btn-adiciona{
    display: block;
    margin-bottom: 25px;
    position: relative;
    left: 15px;
}
.btn-success{
    padding: 7px 10px;
    border: none;
    text-transform: uppercase;
    position: relative;
    right: 10px;
    top: 10px;
    background-color: #67D667;
    transition: all ease .2s;
    &:hover{
	    background-color: #67D667;
    }
}
.custos{
	display: none;
	&.active{
		display: block;
	}
	.col-md-12{
	    border-bottom: 1px solid #eee;
    	padding-bottom: 20px;
    	margin-bottom: 20px;
	}
}
#btn-add-custo{
	margin-top: 40px;
}
#btn-recibo{
	margin-right: 15px;
}
.ripple {
	position: relative;
  	overflow: hidden; 
}
.pagination{
	float: right;
	ul{
		li{
		    float: left;
		    list-style: none;
		    margin-left: 15px;
		    padding: 7px 13px;
		    a{
		    	color: $primary-color;
		    }
		    &.active{
		    	background: $primary-color;
		    	a{
		    		color: white;
		    	}
		    }
		}
	}
}
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 2s; 
}

@keyframes ripple-animation {
  	from {
    	transform: scale(1);
    	opacity: 0.4; 
	}
  	to {
    	transform: scale(100);
    	opacity: 0; 
    } 
}