<h1>Cadastro de Pessoa</h1>
<div class="panel" data-ng-controller="PessoaCtrl as vm">
	<div class="container container-responsive">
	<form method="post">
		<div class="col-md-4">
			<div class="material-input select">
				<label for="nome" class="float-label">Nome</label>
				<input id="nome" type="text" class="form-control">
				<span></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="dta_nasc" class="float-label"><i class="fa fa-calendar"></i> Data de nascimento</label>
				<input id="dta_nasc" type="text" class="form-control date">
				<span></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="email" class="float-label">Email</label>
				<input id="email" type="text" class="form-control">
				<span></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="telefone" class="float-label">Telefone</label>
				<input id="telefone" type="text" class="form-control">
				<span></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="rg" class="float-label">RG</label>
				<input id="rg" type="text" class="form-control">
				<span></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="cpf" class="float-label">CPF</label>
				<input id="cpf" type="text" class="form-control">
				<span></span>
			</div>	
		</div>		
		<div class="col-md-12" data-ng-controller="mapaCtrl">
            <div id="map" data-lat="-25.0993621" data-long="-50.1584514">
            	<div class="bubblingG">
					<span id="bubblingG_1">
					</span>
					<span id="bubblingG_2">
					</span>
					<span id="bubblingG_3">
					</span>
				</div>
            </div>
            <input id="pac-input" class="controls">
            <div class="col-md-3">
				<div class="material-input select">
					<label for="endereco" class="float-label">Endereço</label>
					<input type="text" id="endereco" name="endereco" class="form-control endereco">
					<span></span>
				</div>	
            </div>
            <div class="col-md-3">
				<div class="material-input select">
					<label for="bairro" class="float-label">Bairro</label>
					<input type="text" id="bairro" name="bairro" class="form-control bairro">
					<span></span>
				</div>	
            </div>
            <div class="col-md-3">
				<div class="material-input select">
					<label for="cep" class="float-label">CEP</label>
					<input type="text" id="cep" name="cep" class="form-control cep">
					<span></span>
				</div>	
            </div>
            <div class="col-md-3">
				<div class="material-input select">
					<label for="cidade" class="float-label">Cidade</label>
					<input type="text" id="cidade" name="cidade" class="form-control cidade">
					<span></span>
				</div>	
            </div>
            <input type="hidden" name="lat" id="" class="lat">
            <input type="hidden" name="lng" id="" class="lng">	 			
		</div>
		<div class="col-md-12">
			<button data-ng-click="vm.setPessoa()" id="btn-imovel" class="btn ripple pull-right">Cadastro</button>
		</div>
	</form>
	</div>
</div>
