<div data-ng-controller="PessoaCtrl as vm">
<h1>Editar {{ vm.pessoa.nm_pessoa }}</h1>
<div class="panel">
	<div class="container container-responsive">
	<form method="post">
		<div class="col-md-4">
			<div class="material-input select">
				<label for="nome" class="float-label label-active">Nome</label>
				<input id="nome" type="text" class="form-control" value="{{ vm.pessoa.nm_pessoa }}">
				<span class='input-focus'></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="corretor" class="float-label label-active">Tipo</label>
				<select id="corretor" class="form-control" data-ng-if="vm.pessoa.tp_pessoa == 'INQ'">
					<option value="INQ">Inquilino</option>
					<option value="PRO">Proprietario</option>
				</select>
				<select id="corretor" class="form-control" data-ng-if="vm.pessoa.tp_pessoa == 'PRO'">
					<option value="PRO">Proprietario</option>
					<option value="INQ">Inquilino</option>
				</select>
				<span class='input-focus'></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="dta_nasc" class="float-label label-active"><i class="fa fa-calendar"></i> Data de nascimento</label>
				<input id="dta_nasc" type="text" class="form-control date" value="{{ vm.pessoa.dt_nascimento }}">
				<span class='input-focus'></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<div data-ng-if='vm.pessoa.email.length != 0'>
					<label for="email" class="float-label label-active">Email</label>
					<input id="email" type="text" class="form-control" value="{{ vm.pessoa.email }}">
					<span class='input-focus'></span>
				</div>
				<div data-ng-if='vm.pessoa.email.length == 0'>
					<label for="email" class="float-label">Email</label>
					<input id="email" type="text" class="form-control" value="">
					<span></span>
				</div>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="rg" class="float-label">RG</label>
				<input id="rg" type="text" class="form-control" value="{{ vm.pessoa.nr_rg }}">
				<span></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="cpf" class="float-label">CPF</label>
				<input id="cpf" type="text" class="form-control" value="{{ vm.pessoa.nr_cpf }}">
				<span></span>
			</div>	
		</div>		
		<div class="col-md-4">
			<div class="material-input select">
				<label for="telefone" class="float-label label-active">Telefone</label>
				<input id="telefone" type="text" class="form-control" value="{{ vm.pessoa.nr_telefone }}">
				<span class='input-focus'></span>
			</div>	
		</div>		
		<div class="col-md-12" data-ng-controller="mapaCtrl">
            <div id="map" data-lat="-25.0993621" data-long="-50.1584514"></div>
            <input id="pac-input" class="controls">
            <div class="col-md-3">
				<div class="material-input select">
					<label for="endereco" class="float-label label-active">Endereço</label>
					<input type="text" id="endereco" name="endereco" class="form-control endereco" value="{{ vm.pessoa.endereco }}">
					<span class='input-focus'></span>
				</div>	
            </div>
            <div class="col-md-3">
				<div class="material-input select">
					<label for="bairro" class="float-label label-active">Bairro</label>
					<input type="text" id="bairro" name="bairro" class="form-control bairro" value="{{ vm.pessoa.bairro }}">
					<span class='input-focus'></span>
				</div>	
            </div>
            <div class="col-md-3">
				<div class="material-input select">
					<label for="cep" class="float-label label-active">CEP</label>
					<input type="text" id="cep" name="cep" class="form-control cep" value="{{ vm.pessoa.nr_cep }}">
					<span class='input-focus'></span>
				</div>	
            </div>
            <div class="col-md-3">
				<div class="material-input select">
					<label for="cidade" class="float-label label-active">Cidade</label>
					<input type="text" id="cidade" name="cidade" class="form-control cidade" value="{{ vm.pessoa.cidade.nm_cidade }}">
					<span class='input-focus'></span>
				</div>	
            </div>
            <input type="hidden" name="lat" id="" class="lat">
            <input type="hidden" name="lng" id="" class="lng">	 			
		</div>
		<div class="col-md-12">
			<button data-ng-click='vm.update()' id="btn-imovel" class="btn ripple pull-right">Atualizar</button>
		</div>
	</form>
	</div>
</div>
</div>