    <!-- Modal -->
  <div class="modal fade" id="deleteModal" data-seletor="livros" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
        <div class="col-md-12">
          <form>
            <button data-id="" class="btn ripple btn-confirm-delete" data-ng-click='vm.deleta({{ pessoa.id }})'>Sim</button>
            <button class="btn btn-default ripple btn-close">Não</button>
          </form>
        </div>
        </div>
        <div class="modal-footer">  
        </div>
      </div>
    </div>
  </div> 