<h1>Lista de Pessoas</h1>
<a class='btn-adiciona' href="admin/pessoas/cadastro"><button class="btn btn-success">Adicionar</button></a>
<div class="panel" data-ng-controller="PessoaCtrl as vm">
	<div class="container container-responsive">
		<div class="col-md-12">
		<form class="busca">
			<div class="material-input select">
				<div class="col-md-4">
					<label for="busca" class="float-label"><i class="fa fa-search"></i> Busca</label>
					<input data-ng-keypress="vm.busca()" id="busca" type="text" class="form-control">
					<span></span>
				</div>
				<div class="col-md-4">
					<select 
						data-ng-change='vm.busca()' 
						data-ng-model='vm.coluna'
						data-ng-options='template.value as template.name for template in vm.colunas track by template.value' 
						name="" 
						id="coluna" 
						class="form-control float-label">
					</select>
				</div>
				<span></span>
			</div>	
		</form>	
 		</div>
		<hr>
		<table class="table">
			<tr id="table-head">
				<th id="nome" class="filtro">Código</th>
				<th id="nome" class="filtro">Nome</th>
				<th id="projeto" class="filtro">Email</th>
				<th id="celular" class="filtro">Telefone</th>
				<th id="telefone" class="filtro">Endereço</th>
				<th id="nome" class="filtro">Tipo</th>
				<th>Opções</th>
			</tr>
			<tr data-ng-repeat="pessoa in vm.pessoas">
				<td>{{ pessoa.id }}</td>
				<td>{{ pessoa.nm_pessoa }}</td>
				<td>{{ pessoa.email }}</td>
				<td>{{ pessoa.nr_telefone }}</td>
				<td>{{ pessoa.endereco }}</td>
				<td>{{ pessoa.tp_pessoa }}</td>
				<td>
					<a href="admin/pessoas/editar/{{ pessoa.id }}"><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
					<button class="btn btn-danger btn-deleta" data-toggle="modal" data-target="#deleteModal-{{pessoa.id}}"><i class="fa fa-trash-o"></i></button>

			    <!-- Modal -->
			  	<div class="modal fade" id="deleteModal-{{ pessoa.id }}" data-seletor="{{ pessoa.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    	<div class="modal-dialog" role="document">
			      		<div class="modal-content">
			        		<div class="modal-header">
			          		<h4 class="modal-title" id="myModalLabel">Deseja realmente excluir {{ pessoa.nm_pessoa }} ?</h4>
			        	</div>
			        	<div class="modal-body">
			        		<div class="col-md-12">
			          			<form>
			            			<button data-id="{{ pessoa.id }}" class="btn ripple btn-confirm-delete" data-ng-click='vm.deleta()'>Sim</button>
			            			<button class="btn btn-default ripple btn-close" data-dismiss="modal">Não</button>
			          			</form>
			        		</div>
			        	</div>
			        	<div class="modal-footer">  
			        	</div>
			      	</div>
			    </div>						
				</td>			
			</tr>
		</table>
	</div>
</div>