<h1>Relatório Imóvel</h1>

<div class="panel">
	<div class="container container-responsive"
		data-ng-if="vm.relatoriosimovel[0] != null">
		<div>
			<h3>Ano: {{ vm.relatoriosimovel[0].ano }}</h3>
			<h3>
				Proprietario: {{ vm.relatoriosimovel[0].contrato.proprietario.nm_pessoa }} 
				<span class="pull-right">CPF: {{ vm.relatoriosimovel[0].contrato.proprietario.nr_cpf }}</span>
			</h3>
			<h3>
				Imóvel: {{ vm.relatoriosimovel[0].contrato.imovel.codigo_interno }} 
				- {{ vm.relatoriosimovel[0].contrato.imovel.endereco }}
				, {{ vm.relatoriosimovel[0].contrato.imovel.nm_endereco }} 
			</h3>
		</div>
		<h4 class="text-center">Movimentações do Ano</h4>
		<table class="table table-hover table-responsive">
			<tr id="table-head">
				<th>Data</th>
				<th>Tipo</th>
				<th>Inquilino</th>
				<th>Situação</th>
				<th>Valor</th>
			</tr>
			<tr data-ng-repeat="imovel in vm.relatoriosimovel | orderBy:'mes'">
				<td>{{ imovel.dt_movimentacao | date }}</td>
				<td>{{ vm.movimento[$index].movimento }}</td>
				<td>{{ imovel.contrato.inquilino.nm_pessoa }}</td>
				<td>{{ imovel.contrato.situacao_pagamento }}</td>
				<td class="valores">R$ {{ imovel.valor }}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td id="total"><strong>TOTAL: R$ {{ vm.total }}</strong></td>
			</tr>	
		</table>

		<button class="btn btn-primary pull-right" onclick="window.print();">Imprimir</button>
	</div>
	<div class="container container-responsive"
		data-ng-if="vm.relatoriosimovel[0] == null">
		<h3>Nenhum registro encontrado</h3>
	</div>
</div>