<h1>Relatórios</h1>

<div class="panel">
	<div class="container container-responsive">
		<p>Selecione um relatório para gerar:</p>
		<form>
 			<div class="col-md-12">
 				<div class="material-input">
					<select id="corretor" class="form-control">
						<option>Inquilino</option>
						<option>Proprietario</option>
					</select>
					<span></span>
				</div>
 			</div>
 			<div class="col-md-12">
 				<div class="material-input">
	 				<label class="float-label">Nome</label>
					<select id="corretor" class="form-control">
						<option>Joao da Silva</option>
						<option>Proprietario</option>
					</select>
					<span></span>
				</div>
 			</div>
 			<div class="col-md-6">
 				<div class="material-input">
	 				<label class="float-label">Mes</label>
					<select id="corretor" class="form-control">
						<option>Janeiro</option>
						<option>Proprietario</option>
					</select>
					<span></span>
				</div>
 			</div>
 			<div class="col-md-6">
 				<div class="material-input">
	 				<label class="float-label">Ano</label>
					<select id="corretor" class="form-control">
						<option>2015</option>
						<option>Proprietario</option>
					</select>
					<span></span>
				</div>
 			</div>
 			<div class="col-md-12">
 				<button id="btn-imovel" class="btn ripple pull-right">Gerar</button>
 			</div>
		</form>
	</div>
</div>