<h1>Relatório Proprietario</h1>

<div class="panel">
	<div class="container container-responsive">
		<h2>Mes: Janeiro<span class="pull-right">Ano: 2016</span></h2>
		<h2>Proprietario: Juca bala <span class="pull-right">CPF: 123124214</span></h2>
		<h3 class="text-center">Imóveis Alugados</h3>
		<table class="table table-hover">
			<tr id="table-head">
				<th>Imovel</th>
				<th>Inquilino</th>
				<th>Valor</th>
			</tr>
			<tr>
				<td>Imovel 1</td>
				<td>Joao</td>
				<td>12312</td>
			</tr>
			<tr>
				<td>Imovel 2</td>
				<td>Juca</td>
				<td>12312</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>TOTAL: <strong>12312</strong></td>
			</tr>	
		</table>
		<h3 class="text-center">Imóveis Disponíveis</h3>
		<table class="table table-hover">
			<tr id="table-head">
				<th id="nome" class="filtro">Código Interno</th>
				<th id="nome" class="filtro">Imovel</th>
				<th id="projeto" class="filtro">Endereço</th>
			</tr>
			<tr>
				<td>123-12</td>
				<td>Imovel Av xpto, 12</td>
				<td>Av zap zap</td>
			</tr>
			<tr>
				<td>543-43</td>
				<td>Imovel Av Zap Zap, 88</td>
				<td>Av ads</td>
			</tr>	
		</table>
		<button class="btn btn-primary pull-right">Imprimir</button>
	</div>
</div>