<h1>Relatório Proprietario</h1>

<div class="panel">
	<div class="container container-responsive"
		data-ng-if="vm.relatoriosproprietario[0] != null">
		
		<h2>Mes: {{ $_GET['mes']; }}<span class="pull-right">Ano: </span></h2>
		<h2>Proprietario: {{ vm.relatoriosproprietario[0].nomeproprietario }}<span class="pull-right">CPF: {{ vm.relatoriosproprietario[0].cpfproprietario }}</span></h2>
		<h3 class="text-center">Imóveis Alugados</h3>
		<table class="table table-hover">
			<tr id="table-head">
				<th>Imovel</th>
				<th>Inquilino</th>
				<th>Valor</th>
			</tr>
			<tr data-ng-repeat="recibo in vm.relatoriosproprietario"
				data-ng-if="recibo.recibo != null">
				<td>{{ recibo.codigo_interno }} - {{ recibo.endereco }} - {{ recibo.nm_endereco }}</td>
				<td>{{ recibo.nomeinquilino }} - {{ recibo.cpfinquilino }}</td>
				<td>R$ {{ recibo.valorrecibo }}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>TOTAL: <strong>12312</strong></td>
			</tr>	
		</table>
		<h3 class="text-center">Imóveis Disponíveis</h3>
		<table class="table table-hover">
			<tr id="table-head">
				<th id="nome" class="filtro">Código Interno</th>
				<th id="nome" class="filtro">Endereço</th>
				<th id="projeto" class="filtro">Número</th>
			</tr>
			<tr data-ng-repeat="recibo in vm.relatoriosproprietario"
				data-ng-if="recibo.recibo == null">
				<td>{{ recibo.codigo_interno }}</td>
				<td>{{ recibo.endereco }}</td>
				<td>{{ recibo.nm_endereco }}</td>
			</tr>	
		</table>
		<button class="btn btn-primary pull-right" onclick="window.print();">Imprimir</button>
	</div>

	<div class="container container-responsive"
		data-ng-if="vm.relatoriosproprietario[0] == null">
		<h3>Nenhum registro encontrado</h3>
	</div>
</div>