<div class="container">
	<div class="col-md-2">
		<h1>Logo</h1>
	</div>
	<div class="col-md-2">
		<ul>
			<li><a href=""><i class="fa fa-angle-right"></i> Home</a></li>
			<li><a href=""><i class="fa fa-angle-right"></i> Sobre</a></li>
			<li><a href=""><i class="fa fa-angle-right"></i> Vendas</a></li>
			<li><a href=""><i class="fa fa-angle-right"></i> Locações</a></li>
		</ul>
	</div>
	<div id="contato" class="col-md-3">
		<h1>Contato</h1>
		<p>(42) 9999 - 9999</p>
		<p>email@gmail.com</p>
	</div>
	<div class="col-md-5">
		<img src="image/facebook.png" class="img-responsive">
	</div>
</div>