<article id="sobre">
	<div class="wrapper">
		<div class="container">
			<h1>Locações</h1>
		</div>
	</div>
	<div class="container">
			<div class="col-md-3">
				<div class="itens">
					<figure>
						<img src="image/thumb.jpeg" class="img-responsive">
					</figure>
					<div class='info'>
						<p>Imobiliária 1</p>
						<span class="valor">R$ 400,00</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="itens">
					<figure>
						<img src="image/thumb.jpeg" class="img-responsive">
					</figure>
					<div class='info'>
						<p>Imobiliária 1</p>
						<span class="valor">R$ 400,00</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="itens">
					<figure>
						<img src="image/thumb.jpeg" class="img-responsive">
					</figure>
					<div class='info'>
						<p>Imobiliária 1</p>
						<span class="valor">R$ 400,00</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="itens">
					<figure>
						<img src="image/thumb.jpeg" class="img-responsive">
					</figure>
					<div class='info'>
						<p>Imobiliária 1</p>
						<span class="valor">R$ 400,00</span>
					</div>
				</div>
			</div>
	</div>	
</article>