<h1>Cadastro de Tipo Imóvel</h1>
<div class="panel">
	<div class="container container-responsive">
	<form id="cadastro-imovel" method="post">
		
		<div class="col-md-6">
			<div class="material-input select">
				<label for="tipo-titulo" class="float-label">Título</label>
				<input id="tipo-titulo" type="text" class="form-control">
				<span></span>
			</div>	
		</div>
		<div class="col-md-6">
			<div class="material-input select">
				<label for="ativo" class="float-label">Ativo</label>
				<select id="ativo" class="form-control">
					<option value="true">Sim</option>
					<option value="false">Não</option>
				</select>
				<span></span>
			</div>	
		</div>		
		
		<div class="col-md-12">
			<button id="btn-imovel" data-ng-click="vm.setTipoImovel()" class="btn ripple pull-right">Cadastro</button>
		</div>
	</form>
	</div>
</div>
