<h1>Lista de Tipo de Imóveis</h1>
<a class='btn-adiciona' href="admin/tipoimoveis/cadastro"><button class="btn btn-success">Adicionar</button></a>
<div class="panel" data-ng-controller="TipoImovelCtrl as vm">
	<div class="container container-responsive">
		<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-2">
		<form class="busca">
			<div class="material-input select">
				<div class="col-md-4">
					<label for="busca" class="float-label"><i class="fa fa-search"></i> Busca</label>
					<input data-ng-keypress="vm.busca()" id="busca" type="text" class="form-control">
					<span></span>
				</div>
				<div class="col-md-4">
					<select 
						data-ng-change='vm.busca()' 
						data-ng-model='vm.coluna'
						data-ng-options='template.value as template.name for template in vm.colunas track by template.value' 
						name="" 
						id="coluna" 
						class="form-control float-label">
					</select>
				</div>
				<span></span>
			</div>	
		</form>	
 		</div>
		<table class="table">
			<tr id="table-head">
				<th id="nome" class="filtro">Codigo</th>
				<th id="telefone" class="filtro">Titulo</th>
				<th id="projeto" class="filtro">Status</th>
				<th>Opções</th>
			</tr>
			<tr class="text-center" data-ng-if="vm.tipoimoveis == null || vm.tipoimoveis == '' ">
				<td></td>
				<td>Nenhum
				registro
				encontrado</td>
				<td></td>
				<td></td>
			</tr>
			<tr data-ng-repeat="tipoimovel in vm.tipoimoveis">
				<td>{{ tipoimovel.id }}</td>
				<td>{{ tipoimovel.titulo }}</td>
				<td class="pago">{{ tipoimovel.ativo }}</td>
				<td>
					<a href="admin/tipoimoveis/editar/{{ tipoimovel.id }}"><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
					<button class="btn btn-danger btn-deleta" data-toggle="modal" data-target="#deleteModal-{{tipoimovel.id}}"><i class="fa fa-trash-o"></i></button>
				
					<!-- Modal -->
				  	<div class="modal fade" id="deleteModal-{{ tipoimovel.id }}" data-seletor="{{ tipoimovel.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    	<div class="modal-dialog" role="document">
				      		<div class="modal-content">
				        		<div class="modal-header">
				          		<h4 class="modal-title" id="myModalLabel">Deseja realmente excluir {{ tipoimovel.titulo}} ?</h4>
				          	</div>
				        	<div class="modal-bdody">
				        		<div class="col-md-12">
				          			<form>
				            			<button data-id="{{ tipoimovel.id }}" class="btn ripple btn-confirm-delete" data-ng-click='vm.deleta()'>Sim</button>
				            			<button class="btn btn-default ripple btn-close" data-dismiss="modal">Não</button>
				          			</form>
				        		</div>
				        	</div>
				        	<div class="modal-footer">  
				        	</div>
				      	</div>
				    </div>
				</td>
			</tr>
		</table>
		<div class="pagination">
			<ul>
				<li class="active"><a href="">1</a></li>
				<li><a href="">2</a></li>
			</ul>
		</div>
	</div>
</div>
<ng-include src="'partials/tipoimoveis/excluir.html'"></ng-include>
