	form{
		#img_prev{
			max-height: 170px;
			max-width: 100%;
		}
		#imagem_thumb{
			margin-top: 90px;
		}
		.material-input{
			max-height: 200px;
			min-height: 80px;
			&.required{
				span{
					width: 100%;
					background: red;
				}
				&:after{
					content: "\f071";
				    position: absolute;
				    right: 20px;
				    top: 50px;
				    color: #ff8585;
				    display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				}
				label{
					color: rgba(255, 0, 0, 0.49);
				}
			}
			span{
				width: 100%;
			    height: 2px;
			    width: 0%;
			    display: block;
			    background: #09f;
			    position: relative;
			    top: -2px;
			    -webkit-transition: all ease .3s;
			    -moz-transition: all ease .3s;
			    transition: all ease .3s;			    
			}
			.input-focus{
				width: 100%;
				background-color: #09f;
				-webkit-transition: all ease .3s;
				-moz-transition: all ease .3s;
				transition: all ease .3s;
			}
		}
		.form-control{
			border:1px solid transparent;
			box-shadow: none;
			background: transparent;
			border-bottom: 2px solid #eee;
			border-radius:0px;		
			outline: none;
			&:focus{
				border: 1px solid transparent;
				border-bottom: 2px solid #eee;
				box-shadow: none;
				outline: none;
			}
		}
		.float-label{
			color:rgba(0, 0, 0, 0.32);
			position:relative;
			top: 40px;
			height: 35px;
			font-size: 1em;
			-webkit-transition: all ease .3s;
			-moz-transition: all ease .3s;
			transition: all ease .3s;	
			&.label-active{
				color: #09f;
				top: 0px;
				font-size: 0.8em;
				line-height: 28px;
				-webkit-transition: all ease .3s;
				-moz-transition: all ease .3s;
				transition: all ease .3s;	
				svg{
					path{
						fill: #09f;
						transition: all ease .3s;	
					}
					circle{
						fill: #09f;
						transition: all ease .3s;	
					}
				}			
			}			
		}
		.btn{
		    margin-top: 30px;
		    margin-bottom: 20px;
		    position: relative;
		    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
		    color: white;
		    text-transform: uppercase;
		    background: $primary-color;
		    transition: all ease .2s;
		    &:hover{
		    	color: white;
	    	    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
		    }			
		    &:focus{
		    	outline: none;
		    	color: white;
		    }
		    &.btn-danger{
		    	background: $red;
		    }
		}
		&.busca{
		    margin-bottom: 20px;
		}
		.config{
			border: 1px solid $primary-color;
		}
	}	