        <header>
            <div class="admin">
                <div class="pull-right">
                    <div>
                        <div class="nome">Olá <a href="admin/perfil"> {{ currentUser.nm_usuario }} </a></div>
                        <div class="avatar-admin">
                            <img data-ng-src="{{ currentUser.foto }}" alt="Avatar">   
                        </div>
                    </div>
                </div>
                <div class="user-info">
                    <div class="info-content">
                        <div class="avatar">
                            <img data-ng-src="{{ currentUser.foto }}" alt="Avatar" class="avatar">    
                        </div>
                        <div class="info">
                            <h3>{{ currentUser.nm_usuario }}</h3>
                            <a href="admin/perfil"><h3>{{ currentUser.nome }}</h3></a>
                            <p>{{ currentUser.email }}</p>
                            <p class="editar-perfil-btn"><a href="{{ url('/editar-perfil') }}">Editar Perfil</a></p>
                        </div>
                    </div>
                    <div class="info-footer" data-ng-controller='LoginCtrl as vm'>
                        <a data-ng-click='vm.logout()'>Sair</a>
                    </div>    
                </div>
            </div>
                <div class="container user-header">
                    <h1 id="titulo" class="text-left"><a href="admin">ADI</a></h1>
                    <!-- <img class="avatar" src=" }}">
                    <p class="header-name">}</p> -->
                </div>
                <nav class="nav navbar-default">
                    <div class="navbar">
                        <ul class="menu-ul">
                            <li class="active"><a href="/admin"><i class="fa fa-dashboard fa-2x"></i>Dashboard</a></li>
                            <li><a href="admin/administrar/imoveis"><i class="fa fa-desktop fa-2x"></i>Administrar</a></li>
                            <li><a href="admin/imoveis"><i class="fa fa-building fa-2x"></i>Imóveis</a></li>
                            <li><a href="admin/tipoimoveis"><i class="fa fa-building fa-2x"></i>Tipo Imóveis</a></li>
                            <li><a href="admin/pessoas"><i class="fa fa-users fa-2x"></i>Pessoas</a></li>
                            <li data-ng-if='currentUser.admin == true'><a href="admin/usuarios"><i class="fa fa-users fa-2x"></i>Usuários</a></li>
                            <li><a href="admin/relatorios"><i class="fa fa-bar-chart fa-2x"></i>Relatórios Pessoa</a></li>
                            <li><a href="admin/relatorios/imoveis"><i class="fa fa-bar-chart fa-2x"></i>Relatórios Imóveis</a></li>

                            <li><a href="admin/pin"><i class="fa fa-map-marker fa-2x"></i>PIN</a></li>
                            <!-- <li><a href="admin/configuracao"><i class="fa fa-cog fa-2x"></i>Configurações</a></li> -->
                        </ul>
                    </div>
                </nav>
            <button type="button" class="navbar-toggle menu show ripple btn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span id="icon-bar1" class="icon-bar"></span>
                <span id="icon-bar2" class="icon-bar"></span>
                <span id="icon-bar3" class="icon-bar"></span>
            </button>
            </div>
        </header>