<h1>Movimentação Imóvel 1 <span id="btn-venda" class="pull-right btn-aluguel btn-pago ripple" data-situacao="pago">Pago</span></h1>

<div class="panel">
	<div class="container container-responsive">
		<h2>Inquilino: Juarez <span class="pull-right">Imóvel: Imóvel 1</span></h2>
		<table class="table">
			<tr>
				<td><strong>Valor do Imóvel</strong></td>
				<td></td>
				<td></td>
				<td>R$600,00</td>
			</tr>
			<tr>
				<td><strong>Endereço</strong></td>
				<td></td>
				<td></td>
				<td>Rua Cesário Alvin</td>
			</tr>
			<tr>
				<td><strong>Tipo</strong></td>
				<td></td>
				<td></td>
				<td>Casa</td>
			</tr>
			<tr>
				<td><strong>Proprietário</strong></td>
				<td></td>
				<td></td>
				<td>Joao Nevez</td>
			</tr>
			<tr>
				<td><strong>Telefone</strong></td>
				<td></td>
				<td></td>
				<td>(42) 9876 - 1234</td>
			</tr>
			<tr>
				<td><strong>Email</strong></td>
				<td></td>
				<td></td>
				<td>joaomartonha@uol.com.br</td>
			</tr>
			<tr>
				<td><strong>Situação</strong></td>
				<td></td>
				<td></td>
				<td class="pago">Pago</td>
			</tr>
		</table>
		<p>Adicionar Desconto <button class="btn btn-success btn-desconto"><i class="fa fa-plus"></i></button></p>
		<div class="desconto">
			<form>
				<div class="col-md-12">
					<div class="material-input">
						<label class="float-label">Desconto</label>
						<input id="desconto" type="text" class="form-control"> 
						<span></span>
					</div>
				</div>
			</form>
		</div>
		<h4>Total: <span class="pull-right"><strong>R$:600,00</strong></span></h4>
		<hr>
		<button id="btn-imovel" class="btn btn-submit ripple pull-right">Atualizar</button>
	</div>
</div>