<h1>Gerenciar Imóveis</h1>
<div class="panel">
	<div class="container container-responsive">

<form class="busca">
	<div class="material-input select">
		<label for="nome" class="float-label"><i class="fa fa-search"></i> Busca</label>
		<input id="nome" type="text" class="form-control">
		<span></span>
	</div>	
</form>	

		<table class="table">
			<tr id="table-head">
				<th id="nome" class="filtro">Codigo</th>
				<th id="celular" class="filtro">Corretor</th>
				<th id="projeto" class="filtro">Inquilino</th>
				<th id="projeto" class="filtro">Proprietário</th>
				<th id="telefone" class="filtro">Nome do Imovel</th>
				<th id="projeto" class="filtro">Pagamento</th>
				<th>Opções</th>
			</tr>
			<tr>
				<td>01</td>
				<td>Juarez</td>
				<td>Juca Bala</td>
				<td>Juca Bala 3</td>
				<td>Imóvel 1</td>
				<td class="pendente">Pendente</td>
				<td>
					<a href="administrar/imoveis/1"><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
				</td>
			</tr>
			<tr>
				<td>02</td>
				<td>Juarez Martonha</td>
				<td>Joao Feijão</td>
				<td>Juca Bala 2</td>
				<td>Imóvel 2</td>
				<td class="pago">Pago</td>
				<td>
					<a href="administrar/imoveis/1"><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
				</td>
			</tr>
		</table>
	</div>
</div>
