<h1>Gerenciar Imóveis</h1>

<div class="botoes">
	<a class="btn btn-administra btn-aluguel ripple active" data-ng-click="vm.change('aluguel')" href="">Aluguel</a>
	<a class="btn btn-administra btn-compra ripple" data-ng-click="vm.change('vendas')" href="">Vendas</a>
	<a class="pull-right" href="admin/administrar/cadastro"><button class="btn btn-success">Adicionar</button></a>
</div>

<div class="panel">
	<div class="container container-responsive">
		<div class="col-md-12">
		<form class="busca">
			<div class="material-input select">
				<div class="col-md-4">
					<label for="busca" class="float-label"><i class="fa fa-search"></i> Busca</label>
					<input data-ng-keyup="vm.busca()" id="busca" type="number" class="form-control">
					<span></span>
				</div>
				<div class="col-md-4">
					<select 
						data-ng-change='vm.busca()' 
						data-ng-model='vm.coluna'
						data-ng-options='template.value as template.name for template in vm.colunas track by template.value' 
						name="" 
						id="coluna" 
						class="form-control float-label">
					</select>
				</div>
				<span></span>
			</div>	
		</form>	
 		</div>	
		<table class="table table-responsive">
			<tr id="table-head">
				<th id="nome" class="filtro">Codigo</th>
				<th id="celular" class="filtro">Número Contrato</th>
				<th id="projeto" class="filtro">Imovel</th>
				<th id="projeto" class="filtro">Proprietário</th>
				<th id="telefone" class="filtro">Inquilino</th>
				<th id="projeto" class="filtro">Pagamento</th>
				<th id="projeto" class="filtro">Finalidade</th>
				<th>Opções</th>
			</tr>
			<tr data-ng-repeat="movimento in vm.movimentos | orderBy:'id'">

				<td>{{ movimento.id }}</td>
				<td>{{ movimento.nr_contrato }}</td>
				<td>{{ movimento.imovel.titulo_anuncio }}</td>
				<td>{{ movimento.proprietario.nm_pessoa }}</td>
				<td>{{ movimento.inquilino.nm_pessoa }}</td>
				<td class="pago">{{ movimento.situacao_pagamento }}</td>
				<td>{{ movimento.finalidade }}</td>
				<td>
					<div>
						
						<a href="admin/administrar/movimento/compra/{{ movimento.id }}" 
							data-ng-if="movimento.finalidade == 'Venda'">
							<button class="btn btn-warning"><i class="fa fa-share-square"></i></button>
						</a>
						
						<a href="admin/administrar/movimento/aluguel/{{ movimento.id }}" 
							data-ng-if="movimento.finalidade == 'Aluguel'">
							<button class="btn btn-warning"><i class="fa fa-share-square"></i></button>
						</a>

					<a href="admin/administrar/editar/{{ movimento.id }}"><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
					<button class="btn btn-danger btn-deleta" data-toggle="modal" data-target="#deleteModal-{{movimento.id}}"><i class="fa fa-trash-o"></i></button>
				
					<!-- Modal -->
				  	<div class="modal fade" id="deleteModal-{{ movimento.id }}" data-seletor="{{ movimento.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    	<div class="modal-dialog" role="document">
				      		<div class="modal-content">
				        		<div class="modal-header">
				          		<h4 class="modal-title" id="myModalLabel">Deseja realmente excluir esse movimento ?</h4>
				        	</div>
				        	<div class="modal-body">
				        		<div class="col-md-12">
				          			<form>
				            			<button data-id="{{ movimento.id }}" class="btn ripple btn-confirm-delete" data-ng-click='vm.deleta()'>Sim</button>
				            			<button class="btn btn-default ripple btn-close" data-dismiss="modal">Não</button>
				          			</form>
				        		</div>
				        	</div>
				        	<div class="modal-footer">  
				        	</div>
				      	</div>
				    </div>
				</td>
			</tr>
		</table>
	</div>
</div>

<ng-include src="'partials/Administrar/excluir.html'"></ng-include>
