<h1>Movimentação Contrato {{ vm.movimento.nr_contrato }} <!-- <span class="pull-right btn-aluguel btn-{{ vm.movimento.situacao_pagamento.toLowerCase() }} ripple" data-ng-click="vm.updatePagamento()" data-situacao="{{ vm.movimento.situacao_pagamento.toLowerCase() }}">{{ vm.movimento.situacao_pagamento }}</span> --></h1>

<div class="panel">
	<div class="container container-responsive">
		<h2>Inquilino: {{ vm.movimento.inquilino.nm_pessoa }} <span class="pull-right">Imóvel: {{ vm.movimento.imovel.codigo_interno }} - {{ vm.movimento.imovel.endereco }}</span></h2>
		<!-- <h2>Mês: Janeiro <span class="pull-right">Ano: 2016</span></h2> -->
		<table class="table">
			<tr>
				<td><strong>Aluguel</strong></td>
				<td></td>
				<td></td>
				<td>R$ {{ vm.movimento.valor }}</td>
			</tr>
			<tr>
				<td><strong>Endereço</strong></td>
				<td></td>
				<td></td>
				<td>{{ vm.movimento.imovel.endereco }}</td>
			</tr>
			<tr>
				<td><strong>Tipo</strong></td>
				<td></td>
				<td></td>
				<td>{{ vm.movimento.imovel.tp_imovel.titulo }}</td>
			</tr>
			<tr>
				<td><strong>Proprietário</strong></td>
				<td></td>
				<td></td>
				<td>{{ vm.movimento.proprietario.nm_pessoa }}</td>
			</tr>
			<tr>
				<td><strong>Telefone</strong></td>
				<td></td>
				<td></td>
				<td>{{ vm.movimento.proprietario.nr_telefone }}</td>
			</tr>
			<tr>
				<td><strong>Email</strong></td>
				<td></td>
				<td></td>
				<td>{{ vm.movimento.proprietario.nr_telefone }}</td>
			</tr>
			<tr>
				<td><strong>Situação</strong></td>
				<td></td>
				<td></td>
				<td class="pago">{{ vm.movimento.situacao_pagamento }}</td>
			</tr>
		</table>
		<div id="parcelas" >
			<li data-parcela="{{nome}}-{{ vm.situacao_aluguel[mes] }}-{{mes}}" data-ng-repeat="(nome, mes) in vm.meses track by $index" class="parcelas">Parcela {{ nome }} - <span class="btn btn-aluguel btn-{{ vm.situacao_aluguel[mes].toLowerCase() }} ripple" data-ng-click="vm.alteraAluguel()" data-situacao="{{ vm.situacao_aluguel[mes].toLowerCase() }}">{{ vm.situacao_aluguel[mes] }}</span></li>
			<hr>
		</div>
		<p>Adicionar Custos <button class="btn btn-success btn-custos"><i class="fa fa-plus"></i></button></p>
		<div class="custos">
			<div class="col-md-12">
				<div class="col-md-9">
					<form>
						<div class="material-input">
							<label class="float-label">Categoria de Custo</label>
							<select class="select form-control">
								<option>Aguá</option>
								<option>Juros</option>
							</select>
							<span></span>
						</div>
					</form>
				</div>
				<div class="col-md-3">
					 <button id="btn-add-custo" class="btn btn-success"><i class="fa fa-plus"></i></button>	
				</div>
				<form id="custo-form"></form>
			</div>	
		</div>
		<h4>Total: <span class="pull-right">R$: <strong id="total">{{ vm.movimento.valor }}</strong></span></h4>
		<hr>
		
		<input type="hidden" id="movimento" value="Custo">

		<input type="hidden" name="id_imovel" id="id_imovel" value="{{ vm.movimento.imovel.id }}">
		<input type="hidden" name="id_proprietario" id="id_proprietario" value="{{ vm.movimento.proprietario.id }}">
		<input type="hidden" name="id_inquilino" id="id_inquilino" value="{{ vm.movimento.inquilino.id }}">

		<input type="hidden" name="id_contrato" id="id_contrato" value="{{ vm.movimento.id }}">
		<input type="hidden" name="valor" id="valor" value="{{ vm.movimento.valor }}">
		<input type="hidden" name="valor-total" id="valor-total" value="{{ vm.movimento.valor }}">

		<button id="btn-imovel" data-ng-click="vm.setMovimentoAluguel()" class="btn btn-submit ripple pull-right">Atualizar</button>
		<button id="btn-recibo" class="btn btn-submit ripple pull-right">Gerar Recibo</button>
	</div>
</div>