<h1>Lista de Usuários</h1>
<a class='btn-adiciona' href="admin/usuarios/cadastro"><button class="btn btn-success">Adicionar</button></a>
<div class="panel" data-ng-controller="UsuarioCtrl as vm">
	<div class="container container-responsive">
		<div class="col-md-12 col-md-offset-0 col-xs-10 col-xs-offset-2">
		<form class="busca">
			<div class="material-input select">
				<div class="col-md-4">
					<label for="busca" class="float-label"><i class="fa fa-search"></i> Busca</label>
					<input data-ng-keypress="vm.busca()" id="busca" type="text" class="form-control">
					<span></span>
				</div>
				<div class="col-md-4">
					<select 
						data-ng-change='vm.busca()' 
						data-ng-model='vm.coluna'
						data-ng-options='template.value as template.name for template in vm.colunas track by template.value' 
						name="" 
						id="coluna" 
						class="form-control float-label">
					</select>
				</div>
				<span></span>
			</div>	
		</form>	
 		</div>
		<hr>
		<table class="table">
			<tr id="table-head">
				<th id="nome" class="filtro">Código</th>
				<th id="nome" class="filtro">Nome</th>
				<th id="projeto" class="filtro">Email</th>
				<th id="nome" class="filtro">Tipo</th>
				<th id="nome" class="filtro">Status</th>
				<th>Opções</th>
			</tr>
			<tr data-ng-repeat="usuario in vm.usuarios">

				<td>{{ usuario.id }}</td>
				<td>{{ usuario.nm_usuario }}</td>
				<td>{{ usuario.email }}</td>
				<td>{{ usuario.tp_funcionario }}</td>
				<td class="pago">{{ usuario.ativo }}</td>
				<td>
					<a href="admin/usuarios/editar/{{ usuario.id }}"><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></a>
					<button class="btn btn-danger btn-deleta" data-toggle="modal" data-target="#deleteModal-{{usuario.id}}"><i class="fa fa-trash-o"></i></button>
				
					<!-- Modal -->
				  	<div class="modal fade" id="deleteModal-{{ usuario.id }}" data-seletor="{{ usuario.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    	<div class="modal-dialog" role="document">
				      		<div class="modal-content">
				        		<div class="modal-header">
				          		<h4 class="modal-title" id="myModalLabel"></h4>
				        	</div>
				        	<div class="modal-body">
				        		<div class="col-md-12">
				          			<form>
				            			<button data-id="{{ usuario.id }}" class="btn ripple btn-confirm-delete" data-ng-click='vm.deleta()'>Sim</button>
				            			<button class="btn btn-default ripple btn-close">Não</button>
				          			</form>
				        		</div>
				        	</div>
				        	<div class="modal-footer">  
				        	</div>
				      	</div>
				    </div>
				</td>
			</tr>
		</table>
	</div>
</div>
<ng-include src="'partials/Usuario/excluir.html'"></ng-include>